# Express-Validator: `validationResult(req)`

Lies in der Dokumentation zur Funktion `validationResult(req)` von Express-Validator (siehe https://express-validator.github.io/docs/validation-result-api.html).

## Fragen:
- Was liefert sie zurück?

- Auf ihrem Rückgabewert ist u. a. die Funktion `.array()` definiert, was liefert diese zurück?

- Welche Struktur hat ein `error`?

- Wie sieht die Ausgabe von `.mapped()` aus? - Vergleiche mit der Ausgabe von `.array()`.

## Implementierung 
1. Kopiere den Code von zuvor.
2. Verwende im Falle eines Validierungsfehlers statt `.array()` die Funktion `.mapped()`.
